body {
  margin: 0;
  padding:0;
  color: #6d6e71;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

main {
  background-color: #e5f3f2;
  margin-bottom: 35px;
}

p {
  font-size: 26px;
  color: #939598;
}

img {
  height: 35px;
  width: 35px;
}

.card-h2 {
  display: inline-block;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
}

h1 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  margin-bottom: 30px;
}

.main__h1-input {
  margin-bottom: 20px;
  width: 98.5%;
  border: #939598 solid 2px;
  height: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-size: 2em;
  color: #939598;
}

.main__h1-input::placeholder {
   color: #939598;
}

.delete-btn {
float: right;
margin-top: 33px;
background-image: url('Images/delete.svg');
height: 30px;
width: 30px;
border: none;
}

.delete-btn:hover {
  background-image: url('Images/delete-hover.svg');
  
}

.upvote {
background-image: url('Images/upvote.svg');
height: 30px;
width: 30px;
border: none;

}

.upvote:hover {
  background-image: url('Images/upvote-hover.svg');
  height: 30px;
  width: 30px;
  border: none;

}

.downvote {
  background-image: url('Images/downvote.svg');
  height: 30px;
  width: 30px;
  border: none;

}

.downvote:hover {
  background-image: url('Images/downvote-hover.svg');
  height: 30px;
  width: 30px;
  border: none;
}

section {
  margin-top:35px;
}

form {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.main__h1 {
 color: #00a79d;
 display: inline-block;
}

.save-button {
  width: 100%;
  height: 55px;
  color: #fff;
  background-color: #00a79d; 
  margin-bottom: 35px;
  font-size: 2em;
}

hr {
  width: 100%;
}

.search-bar {
  width: 59%;
  font-size: 2em;
  color: #939598;
  border: #939598 solid 2px;
}

.search-bar::placeholder {
   color: #939598;
}

.idea__card {
  width: 59%;
  margin-left: 20.4%;
  text-align: left;
}

.vote-btn {
 float: left;
 margin-top: 30px;
 margin-right: 22px;
}

.quality-span {
float: left;
font-weight: 800;
margin-bottom: 50px ;
}




/*
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;*/

/*background: #e5f3f2;
Box h1: #6d6e71;
save btn: #00a79d
on hover: #045e55
h2: #6d6e71;
p: #939598
spans:#6d6e71
*/