body {
  margin: 0;
  padding:0;
  color: #6d6e71;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

main {
  background-color: #e5f3f2;
  margin-bottom: 35px;
}

.main__h1 {
 color: #00a79d;
 display: inline-block;
}

form {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.main__input {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  width: 98.5%;
  border: #939598 solid 2px;
  height: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-size: 2em;
  color: #939598;
}

.main__button {
  width: 100%;
  height: 55px;
  color: #fff;
  background-color: #00a79d; 
  margin-bottom: 35px;
  font-size: 2em;
}

section {
  margin-top:35px;
}

.article__h2 {
  display: inline-block;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
}

.article__button-delete {
float: right;
margin-top: 33px;
background-image: url('Images/delete.svg');
height: 30px;
width: 30px;
border: none;
}

.article__button-delete:hover {
  background-image: url('Images/delete-hover.svg');
  
}

p {
  font-size: 26px;
  color: #939598;
}

hr {
  width: 100%;
}

.main__h1-input::placeholder {
   color: #939598;
}

.article__button-upvote {
background-image: url('Images/upvote.svg');
height: 30px;
width: 30px;
border: none;

}

.article__button-upvote:hover {
  background-image: url('Images/upvote-hover.svg');
  height: 30px;
  width: 30px;
  border: none;

}

.article__button-downvote {
  background-image: url('Images/downvote.svg');
  height: 30px;
  width: 30px;
  border: none;

}

.article__button-downvote:hover {
  background-image: url('Images/downvote-hover.svg');
  height: 30px;
  width: 30px;
  border: none;
}

.article__p {
float: left;
font-weight: 800;
margin-bottom: 50px ;
}